name: "Build .NET orig tarball"

on: 
  workflow_dispatch:
    inputs:
      sourceVersion:
        description: 'Source Version (e.g. 8.0.100-8.0.0~preview1)'
        required: true
        type: string
      gitCommitish:
        description: 'Git commit-ish (e.g. the tag) of the .NET release'
        required: true
        type: string
      bootstrap:
        description: 'Build bootstraped orig tarballs'
        required: false
        type: boolean


jobs:
  build-orig-tarball:
    if: ${{ ! inputs.bootstrap }}
    runs-on: ubuntu-latest
    env:
      DOTNET_GIT_REPOSITORY: https://github.com/dotnet/dotnet
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: Parse source version
        id: parse-version
        run: |
          MAJOR_VERSION=$(echo "${{inputs.sourceVersion}}" | cut -d '.' -f 1)
          MINOR_VERSION=$(echo "${{inputs.sourceVersion}}" | cut -d '.' -f 2)

          echo "dotnetMajorVersion=$MAJOR_VERSION" >> $GITHUB_OUTPUT
          echo "dotnetMinorVersion=$MINOR_VERSION" >> $GITHUB_OUTPUT
          echo "dotnetMajorMinorVersion=$MAJOR_VERSION.$MINOR_VERSION" >> $GITHUB_OUTPUT

      - name: Install dependencies
        if: ${{ steps.parse-version.outputs.dotnetMajorVersion >= 9 }}
        run: |
          sudo add-apt-repository ppa:dotnet/backports
          sudo add-apt-repository ppa:dotnet/previews
          sudo apt-get install --assume-yes \
            dotnet${{steps.parse-version.outputs.dotnetMajorVersion}} \
            dotnet-sdk-${{steps.parse-version.outputs.dotnetMajorMinorVersion}}-source-built-artifacts
      
      - name: Configure credentials for .NET security partners repository
        if: ${{ github.repository == 'canonical/dotnet-source-build-security' }}
        run: |
          git config --global credential.helper store
          echo "https://dotnet-security-partners:${{secrets.DOTNET_SECURITY_PARTNERS_ACCESS_TOKEN}}@dev.azure.com" >> ~/.git-credentials
          echo "DOTNET_GIT_REPOSITORY=https://dotnet-security-partners@dev.azure.com/dotnet-security-partners/dotnet/_git/dotnet" >> ${GITHUB_ENV}

      - name: Build orig tarball
        run: | 
          eng/build-orig-tarball.py \
            --clone-git-repository "${DOTNET_GIT_REPOSITORY}" \
            --source-version "${{inputs.sourceVersion}}" \
            --git-reference "${{inputs.gitCommitish}}" \
            --use-legacy-manifest-format \
            --vendor-name "Canonical Ltd." \
            --verbose

      - name: Upload orig tarball to workflow artifacts
        id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./dist/dotnet*_${{inputs.sourceVersion}}*.orig.tar.*

  build-bootstraped-orig-tarball:
    if: ${{ inputs.bootstrap }}
    strategy:
      matrix:
        os:
          - [self-hosted, large, jammy, X64]
          - [self-hosted, large, jammy, ARM64]
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_GIT_REPOSITORY: https://github.com/dotnet/dotnet
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: Configure credentials for .NET security partners repository
        if: github.repository == 'canonical/dotnet-source-build-security'
        run: |
          git config --global credential.helper store
          echo "https://dotnet-security-partners:${{secrets.DOTNET_SECURITY_PARTNERS_ACCESS_TOKEN}}@dev.azure.com" >> ~/.git-credentials
          echo "DOTNET_GIT_REPOSITORY=https://dotnet-security-partners@dev.azure.com/dotnet-security-partners/dotnet/_git/dotnet" >> ${GITHUB_ENV}

      - name: Build orig tarball
        run: | 
          eng/build-orig-tarball.py \
            --clone-git-repository "${DOTNET_GIT_REPOSITORY}" \
            --source-version "${{inputs.sourceVersion}}" \
            --git-reference "${{inputs.gitCommitish}}" \
            --use-legacy-manifest-format \
            --vendor-name "Canonical Ltd." \
            --include-bootstrap-sdk \
            --verbose

      - name: Upload orig tarball to workflow artifacts
        id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./dist/dotnet*_${{inputs.sourceVersion}}*.orig.tar.*
